In [6]:
# Dependencies
# ----------------------------------
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float
# The following code is to call one .ipynb from another
# First install ipynb using the command "pip install ipynb" from command prompt. Then include the following to start
# using your work from the other notebook (here we want to use the dataframes from our extract.ipynb)
from ipynb.fs.full.transform import *

In [7]:
# Create Engine and Pass in MySQL Connection
conn_str = "root:root@127.0.0.1/immunization_db"
engine = create_engine(f'mysql://{conn_str}')

In [8]:
# Connect
conn = engine.connect()

In [9]:
# Check for table(s) in the database
engine.table_names()

['wa_immunizations']

In [11]:
# Dump data from dataframe to SQL database table
combined_df.to_sql(name='wa_immunizations', con=engine, if_exists='append', index=False)

In [14]:
# Query All Records to confirm the load
data = pd.read_sql("SELECT * FROM wa_immunizations", conn)
data

,id,county,school_year,number_reported,number_completed,pop_2016
0,1,LEWIS,2016-17,33,29,185110.0
1,2,LEWIS,2016-17,0,0,185110.0
2,3,LINCOLN,2016-17,13,10,26680.0
3,4,SPOKANE,2016-17,0,0,1335528.0
4,5,YAKIMA,2016-17,60,57,666805.0
5,6,ASOTIN,2016-17,47,44,52830.0
6,7,THURSTON,2016-17,0,0,680270.0
7,8,CLARK,2016-17,0,0,1164280.0
8,9,PIERCE,2016-17,59,52,2141210.0
9,10,MASON,2016-17,68,59,134710.0
10,11,COWLITZ,2016-17,0,0,269470.0
11,12,THURSTON,2016-17,75,64,680270.0
12,13,OKANOGAN,2016-17,0,0,100100.0
13,14,OKANOGAN,2016-17,0,0,100100.0
14,15,OKANOGAN,2016-17,0,0,100100.0
15,16,SPOKANE,2016-17,91,70,1335528.0
16,17,SPOKANE,2016-17,6,3,1335528.0
17,18,THURSTON,2016-17,1,1,680270.0
18,19,CLARK,2016-17,140,121,1164280.0
19,20,KING,2016-17,46,32,6069380.0
20,21,COWLITZ,2016-17,22,20,269470.0
21,22,PIERCE,2016-17,100,92,2141210.0
22,23,SKAMANIA,2016-17,0,0,25545.0
23,24,SNOHOMISH,2016-17,0,0,1979585.0
24,25,KING,2016-17,65,64,6069380.0
25,26,GRANT,2016-17,52,40,241700.0
26,27,WHATCOM,2016-17,52,46,547082.0
27,28,PIERCE,2016-17,93,87,2141210.0
28,29,PACIFIC,2016-17,40,36,49255.0
29,30,CHELAN,2016-17,0,0,195655.0
...,...,...,...,...,...,...
2448,2449,KING,2016-17,17,16,6069380.0
2449,2450,FRANKLIN,2016-17,26,20,253945.0
2450,2451,KING,2016-17,11,11,6069380.0
2451,2452,KING,2016-17,0,0,6069380.0
2452,2453,YAKIMA,2016-17,7,2,666805.0
2453,2454,KITSAP,2016-17,88,82,613460.0
2454,2455,SPOKANE,2016-17,51,46,1335528.0
2455,2456,WHATCOM,2016-17,85,75,547082.0
2456,2457,CLARK,2016-17,0,0,1164280.0
2457,2458,KING,2016-17,3,2,6069380.0
2458,2459,KING,2016-17,0,0,6069380.0
2459,2460,SNOHOMISH,2016-17,73,52,1979585.0
2460,2461,SPOKANE,2016-17,0,0,1335528.0
2461,2462,FRANKLIN,2016-17,0,0,253945.0
2462,2463,SNOHOMISH,2016-17,90,56,1979585.0
2463,2464,SPOKANE,2016-17,0,0,1335528.0
2464,2465,SPOKANE,2016-17,6,1,1335528.0
2465,2466,CLARK,2016-17,0,0,1164280.0
2466,2467,PIERCE,2016-17,62,50,2141210.0
2467,2468,PIERCE,2016-17,0,0,2141210.0
2468,2469,OKANOGAN,2016-17,87,66,100100.0
2469,2470,STEVENS,2016-17,8,6,97958.0
2470,2471,THURSTON,2016-17,64,48,680270.0
2471,2472,SNOHOMISH,2016-17,0,0,1979585.0
2472,2473,PIERCE,2016-17,0,0,2141210.0
2473,2474,YAKIMA,2016-17,0,0,666805.0
2474,2475,YAKIMA,2016-17,15,6,666805.0
2475,2476,COWLITZ,2016-17,55,52,269470.0
2476,2477,SPOKANE,2016-17,86,73,1335528.0
2477,2478,KING,2016-17,139,78,6069380.0